#bg{
    background-color: rgb(198, 37, 37);
}
.navbar-custom{
    color: rgb(221, 75, 75);
    background-color: rgb(160, 17, 17);
    margin-bottom: 50px;
}

#project-jumbo{
    color: rgb(255, 126, 126);
    background-color: rgb(120, 0, 0);
    margin-right: 25px;
}

#contact-info{
    color: rgb(255, 126, 126);
    background-color: rgb(120, 0, 0);
    margin-left: 25px;
}